html,
body,
crm-root {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
}

ng-component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
